.widget{
  .container{
    .content{
      .info{
        margin-top:117px;

        .description{
          margin-top:16px;
          width: 75.246%;

        }
      }
      .two-blocks{
        margin-top:67px;
        margin-bottom: 130px;
        .block{
          width: 50%;
          
          .image{
            img{
              width:100%;
            }
          }
          .text{
            margin-top:24px;
            width:97.368%;
          }
          
          .more{
            margin-top:48px;
          }

          .items{
            padding: 5px 120px 5px 40px; 
            

           
              
            
            ul{
              list-style-type:none;
              padding: 0px;
              margin:0px;
              
              li{
                position: relative;
                margin-top:16px;
                color: $light-gray;
                &:before{
                  
                  content:'';
                  position: absolute;
                  left: -40px;
                  top:50%;
                  transform:translatey(-50%);
                  background-color: $blue;
                  width:4px;
                  height: 56px;
                }

                &:first-child{
                  // content: '2';
                  margin-top:0px;
                }
              }
            }
          }

        }
      }
    }
  }
}