body {
  margin: 0px;
  background-color: $primary;
  color: $black;

  p {
    margin: 0px;
    color: $gray;
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
  }
}

.container {
  max-width: 1180px;
  padding: 0 80px;
  margin: 0px auto;
  width: 63.3333%;
}

.flex {
  display: flex;
}

.jcsb {
  justify-content: space-between;
}
