@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?q284md');
  src: url('fonts/icomoon.eot?q284md#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?q284md') format('truetype'),
    url('fonts/icomoon.woff?q284md') format('woff'),
    url('fonts/icomoon.svg?q284md#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}